#paperProgress {
  width:100%;
}
#paperprogress::shadow #activeProgress {
  background-color:red;
  border-bottom:1px solid #000;
}
#activeProgress::shadow {
  /* default background-color: #0f9d58; */
  background-color:lime;
  border-bottom:1px solid #000;
}
#core_header_panel {
  background-color: rgb(255, 255, 255);
}
#core_toolbar {
  color: rgb(255, 255, 255);
  background-color: rgb(79, 125, 201);
}
#core_menu {
  font-size: 16px;
}
#paper_item4 {
  padding: 5px;
}
#paper_item1 {
  padding: 5px;
}
#paper_item {
  padding: 5px;
}
#paper_item2 {
  padding: 5px;
}
#paper_item3 {
  padding: 5px;
}